<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControlInterface</servlet-name>
  	<display-name>ControlInterface</display-name>
  	<description></description>
  	<servlet-class>com.control.ControlInterface</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerImpl</servlet-name>
  	<display-name>ControllerImpl</display-name>
  	<description></description>
  	<servlet-class>com.control.impl.ControllerImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControlInterface</servlet-name>
  	<url-pattern>/ControlInterface</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerImpl</servlet-name>
  	<url-pattern>/ControllerImpl</url-pattern>
  </servlet-mapping>
</web-app>
